<div class="container">
  <h1 class="h1">Collections</h1>
  <div class="collection-container">
    <% @collections.each do |collection| %>
      <div class="collection-block">
        <%= link_to collection_path(collection) do %>
          <% if collection.image.attached? %>
            <%= image_tag(collection.image, class: "collection-image") %>
          <% end %>
        <% end %>
        <div class="collection-name-wrapper">
          <%= link_to "#{collection.name}", collection_path(collection), class: "text-decoration-none collection-name" %>
        </div>
      </div>
    <% end %>

    <!-- Empty container block for adding a collection -->
    <div class="collection-block empty-block">
      <%= link_to new_collection_path, class: "text-decoration-none" do %>
        <div class="empty-container">
          <span id="plus-sign">+</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
