<p></p>
<div class="container">
  <div class="row" id="row">
    <!-- <div class="col-4 col-sm-12 col-md-4">
      <div class="notebox">
        <div class="notedatecontainer"><h6>6 June</h6></div>
        <textarea class="form-control noteheading" maxlength="25">
  Note Heading</textarea
        >
        <div class="notecontainer">
          <textarea class="notedata form-control" style="height: 190px">
  Note Text</textarea
          >
        </div>
        <div class="noteaction">
          <i class="fa fa-save"></i
          ><i class="fa fa-trash" id="deletebtn0"></i>
        </div>
      </div>
    </div> -->
  </div>
</div>
<div id="addbox">
  <i class="fa fa-plus"></i>
</div>
