// Import page-specific CSS files here.
@import "home";


.h1 {
  margin-top: 50px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.collection-container {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 50px;
}

.collection-block {
  position: relative;
  width: 30%;
  margin-bottom: 20px;
  overflow: hidden;
  border: solid #b2b2b2;
  border-radius: 7px;
  max-height: 220px;
}

.collection-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
delete-button{
background-color: transparent;
border: none;
}

.collection-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #323232;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  font-size: 18px;
  width: 100%;
  font-family: "Poppins";
  font-weight: bold;
  background-color: rgba(226, 226, 226, 0.46);
}

.empty-block {
  width: 30%;
  margin-bottom: 20px;
  text-align: center;
}

.empty-container {
  width: 100%;
  height: 100%;
  background-color: #b2b2b200;
  border: dashed 2px #707070;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

#plus-sign {
  font-size: 100px;
  color: #707070;
  text-decoration: none;
}

.collection-block:hover {
  background-color: rgb(187, 182, 182);
  box-shadow: 0 0 15px rgba(246, 241, 241, 0.43);
  transition: background-color 0.3s ease, box-shadow 0.3s ease,
    border-color 0.3s ease;
}

.delete-button {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 25px;
  font-family:'Poppins';
  font-weight: bold;
  color: #1e1e1ec1; /* You can change the color as needed */
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.delete-button:hover {
  color: #1e1e1ec1; /* Change the color on hover if desired */
  font-size: 28px;
}
