<div class="container">
  <div class="main-content">
    <h1>Upload. Create. <span class="green-txt">Translate</span></h1>
    <p>The platform that empowers you to break linguistic barriers, offering a unique space to upload and curate your cherished ebooks.</p>
  </div>
  <div class="img-wrapper">
      <img class="main-img" src="<%= asset_path('Main_Image.png') %>" alt="image of the globe">
    </div>
</div>
