.nav-name {
  font-family: 'Poppins';
  font-weight: bold;
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgba(230, 230, 230, 0.1) transparent;
}


body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(230, 230, 230, 0.1);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.orange-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Poppins';
  font-weight: bold;
  margin-top: 30px;
  border: none;

}

.orange-button:hover {
  background-color: darkorange;
}

// Overal Styling //
.trans-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(230, 230, 230, 0.1);
  color: white;
  text-decoration: none;
  border-radius: 5px;

  font-weight: bold;
  margin-top: 30px;
}

.trans-button:hover {
  background-color: rgba(246, 241, 241, 0.43);
}

.collection-name-wrapper {
  height: 100px;
}
