// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

h1, p {
  font-family: 'Poppins';
}

.nav-name {
  font-family: 'Poppins';
  font-weight: bold;
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgba(230, 230, 230, 0.1) transparent;
}

/* For WebKit (Chrome, Safari, etc.) */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(230, 230, 230, 0.1);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}
