// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "show";

// Overall Styling//
h1, p {
  font-family: 'Poppins';
}

.nav-name {
  font-family: 'Poppins';
  font-weight: bold;
}

body {
  scrollbar-width: thin;
  scrollbar-color: rgba(230, 230, 230, 0.1) transparent;
}


body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(230, 230, 230, 0.1);
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.orange-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Poppins';
  font-weight: bold;
  margin-top: 30px;
  border: none;

}

.orange-button:hover {
  background-color: darkorange;
}

// Overal Styling //
.trans-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgba(230, 230, 230, 0.1);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Poppins';
  font-weight: bold;
  margin-top: 30px;
}

.trans-button:hover {
  background-color: rgba(246, 241, 241, 0.43);
}
// Overall Styling //

// Forms //
.container label {
  font-weight: bold;
  color: white;
}

.container input {
  background-color: rgba(230, 230, 230, 0.1);
}

#orange-button {
display: inline-block;
padding: 10px 20px;
background-color: orange;
color: white;
text-decoration: none;
border-radius: 5px;
font-family: 'Poppins';
font-weight: bold;
margin-top: 30px;
}

.orange-button:hover {
background-color: darkorange;
}
// Forms //

//Book Cards Styling//

.card-title {
  font-family: 'Poppins';
}

.btn {
  color: grey;
}

.card-text {
  font-family: 'Poppins';
  color: rgba(0, 0, 0, 0.53);
  font-size: 12px;


}
.card {
  display: inline-block;
  margin-right: 45px;
  vertical-align: top;
  margin-bottom: 20px;
}

.book-img {
  position: absolute;
  top: -3;
  left: -5;
  width: 30%;
  height: 100%;
}

//Book Cards Styling//
